# Configuración del Proveedor Debrid por defecto (1fichier, realdebrid, alldebrid)
DEBRID_PROVIDER=1fichier

# Clave API de 1fichier (para usuarios con suscripción Premium)
ONEFICHIER_API_KEY=tu_api_key_de_1fichier

# Token API de Real-Debrid (https://real-debrid.com/apitoken)
REALDEBRID_API_KEY=tu_api_token_de_realdebrid

# Clave API de AllDebrid
ALLDEBRID_API_KEY=tu_api_key_de_alldebrid

# (Opcional) Cadena de conexión a PostgreSQL si utilizas Neon, Supabase o Render BBDD
# DATABASE_URL=postgresql://usuario:password@host/nombre_bbdd?sslmode=require

# Puerto del servidor local (por defecto: 7000)
PORT=7000
